<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
        <add key="ConnectionString"
             value="Data Source=(local)\SQLEXPRESS;Initial Catalog=itent;Persist Security Info=True;User ID=taurus;Password=acetaurus"/>
    </appSettings>
</configuration>